*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --spacing: 0.5cqmin;
}

html,
body {
    box-sizing: border-box;
    container-type: size;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    &>grid-container {
        margin: var(--spacing);
        height: calc(100% - var(--spacing) * 2);
    }
}